.footer{
	box-sizing: border-box;
	width: 1000px;
	margin: 0 auto;
}
.footer_top{
	width: 1000px;

}
.footer_top ul{
	padding: 10px 0px 20px 10px;
	margin-top: 10px;
	list-style: none;
	border-bottom: 3px solid black;
}
.footer_top ul li{
	margin-left: 2px;
	display: inline-block;
}
.footer_top a{
	font-size: 12px;
	color: #acacac;
}
.footer_top a:hover{
	text-decoration: none;
	color: #666666;
}
.footer_bottom p{
	text-align: center;
}
.footer_bottom a{
	color: black;
	font-size: 13px;
}
.footer_bottom a:hover{
	color: #666666;
	text-decoration: none;
}
.footer_bottom_p a{
	margin-left: 10px;
}
.footer_bottom{
	margin: 0 auto;
	padding-bottom: 4px;
	width: 1000px;
}
.bg{
	width: 100%;
		background: #f5f5f5;
}
